@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.inputBox {
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: #f8f8f8;
}

.inputBox__field {
    width: 30%;
    padding: 3%;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.12), 0 2px 3px rgba(0, 0, 0, 0.24);
    padding-top: 0;
    padding-bottom: 50px;
    margin: 20px;
}

.inputBox__field > h1 {
    font-family: 'Montserrat', sans-serif;
    margin-top: 10px;
    padding: 10px;
}

.inputBox__field > img {
    width: 25%;
    padding-bottom: 30px;
    padding-top: 10px;
}

.inputBox__field > form > button {
    margin-top: 30px;
    background-color: #0a8d48 !important;
    color: #fff;
}

